.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 70vw; /* Increased width for better content display */
    margin: 20px auto;
    background-color: #f9f9f9;
  }
  
  .title {
    font-size: 1.6rem;
    color: #079319;
    margin-bottom: 12px;
  }
  
  .projectStatus {
    font-size: 1.2rem; /* Adjusted font size */
    color: #e67e22; /* Custom color */
    margin-bottom: 12px; /* Space below the heading */
    font-weight: bold; /* Bold text */
  }
  
  .location {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 10px;
  }
  
  .text {
    font-size: 1rem;
    color: #555;
    margin-bottom: 6px;
  }
  
  .multilineText {
    text-align: start;
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
    white-space: pre-wrap; /* Keeps the text on multiple lines */
    margin-bottom: 10px;
  }
  
  .techStack {
    margin-top: 16px;
    font-size: 1.1rem;
    color: #444;
  }
  
  .techStack ul {
    list-style: disc;
    padding-left: 20px;
  }
  
  .techStack li {
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
  }
  