.container {
  padding: 20px;
  text-align: start;
}

.heading {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.multilineText {
  text-align: start;
  font-size: 1.2rem;
  color: #666;
  line-height: 1.6;
  white-space: pre-wrap; /* Keeps the text on multiple lines */
}

.multilineTextJsx {
  text-align: start;
  font-size: 1.2rem;
  color: #666;
  line-height: 1.6;
  white-space: pre-line; /* Keeps the text on multiple lines */
}
