.resume-education {
    margin-top: 20px;
  }
  
  .resume-education-title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .resume-professional-experience {
    margin-top: 20px;
  }
  
  .resume-professional-experience-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  

  
  .resume-education-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .resume-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .circle {
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
    margin-right: 10px;
  }
  

  .timeline {
    position: relative;
    margin-left: 50px;
  }
  
  .line {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #000;
    left: 10px;
  }