:root {
    font-size: 25px;
    font-family: sans-serif;
  }
  h1 {
    font-size: 1.6rem;
    text-align: center;
  }
  
  button {
    font-size: 1.5rem;
  }
  
  li {
    text-transform: capitalize;
  }
  
  .loading {
    opacity: 0.5;
  }
  