.container {
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 24px;
  margin-bottom: 16px;
}

.content {
  display: flex;
  align-items: flex-start; /* Aligns the Tree and IconComponent in the same row */
}

.treeContainer {
  flex: 1; /* Allow Tree to take available space */
  max-height: 500px;
  overflow-y: auto; /* Handle vertical overflow */
  border: 1px solid #ccc; /* Optional: Add border for visibility */
  padding: 8px;
  margin-right: 16px; /* Add spacing between Tree and IconComponent */
}

.iconDisplay {
  flex: 7;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 150px; /* Optional: Reserve some width for the icon */
  padding: 8px;
  border: 1px solid #ccc; /* Optional: Add border for visibility */
  text-align: center;
}

.icon {
  margin-right: 0.5rem;
  font-size: 10rem;
  vertical-align: middle;
}
